{% extends 'base.html' %}

{% block title %}
    <title>Line of Succession</title>
{% endblock title %}

{% block content %}

<section class="row leaderboard-row-style">
    <div class="table-style">
        <h1>Line of Succession</h1>
            <table class="table">
                <tbody>
                    <tr class="user-score-title">
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        <td><i class="next-in-line-crown fas fa-crown"></i>Jon Snow</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Robb Stark</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>The Hound</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>The Mountain</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>Jaime Lannister</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Brienne of Tarth</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Cersei Lannister</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Tywin Lannister</td>
                        <td>5</td>
                    </tr>
                    <tr>
                    <td>Sansa Stark</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Xaro Xhoan Daxos</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
    </div>
</section>

{% endblock content %}
